tmp
cerd.json
kairos.data
kairos-executor-http
kairos-executor-file
kairos-executor-nats
kairos-executor-script
kairos-executor-simple
kairos-executor-sql
kairos-local
kairos.boltdb
kairos1.boltdb

node_modules
.kube

example
sdk
ui
linux
window