body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%, 100% {
    fill: rgb(8, 97, 8); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
  25% {
    fill: rgb(9, 183, 9); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
  75% {
    fill: rgb(4, 232, 4); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
}

g.active rect,
g.active ellipse,
g.active circle {
  animation: pulse 1s infinite; /* Tốc độ chậm hơn */
}

g.success rect,
g.success ellipse,
g.success circle {
  fill: rgb(9, 183, 9);
}

g.fault rect,
g.fault ellipse,
g.fault circle {
  fill: rgb(255, 4, 4);
}


g.offline rect,
g.offline ellipse,
g.offline circle {
  fill: rgb(107, 103, 103);
}

@keyframes pulse2 {
  0%, 100% {
    fill: rgb(246, 195, 12); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
  25% {
    fill: rgb(247, 231, 11); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
  75% {
    fill: rgb(240, 169, 15); /* Màu xanh lá cây tươi tắn hơn, opacity = 1 */
  }
}

g.waring rect,
g.waring ellipse,
g.waring circle {
  animation: pulse2 1s infinite; 
}


g.nodeliver rect,
g.nodeliver ellipse,
g.nodeliver circle {
  fill: rgb(247, 231, 11);
}

:root {
  --primary: rgb(24, 144, 255);
  --error: red;
  --gray: #AAA;
}

.crontab-input .explanation {
  text-align: center;
  margin: 16px 0 8px;
  font-size: 40px;
  color: var(--primary);
}

.crontab-input .explanation span {
  background: transparent;
  color: inherit;
}

.crontab-input .explanation span.active {
  text-decoration: underline;
}

.crontab-input .next a {
  text-decoration: underline;
  cursor: pointer;
}

.crontab-input .next {
  font-size: 0.9em;
  opacity: 0.6;
  margin-bottom: 6px;
}

.crontab-input .cron-input {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid var(--primary);
  outline: none;
}

.crontab-input .cron-input.error {
  border: 1px solid var(--error);
}

.crontab-input .parts {
  margin-top: 3px;
}

.crontab-input .parts .part {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.crontab-input .parts .part.selected {
  font-weight: bold;
  color: var(--primary);
}

.crontab-input .allowed-values {
  margin-top: 12px;
}

.crontab-input .allowed-values .value {
  display: flex;
  width: 400px;
  margin: auto;
}

.crontab-input .allowed-values .value .value,
.crontab-input .allowed-values .value .key {
  border-bottom: 1px dashed var(--gray);
  padding: 4px;
}

.crontab-input .allowed-values .value .key {
  flex: 0;
  flex-basis: 100px;
  text-align: right;
  font-weight: bold;
  padding-right: 20px;
}

.crontab-input .allowed-values .value .value {
  flex: 1;
}

.crontab-input {
  text-align: center;
}
